<div class="page_content coming_soon">
  <div style="text-align: center;font-size: 30px;margin-top: 100px;">
    We will be coming soon to your City to launch the Rocking Party. <br>
    Please <%= link_to "Signup", user_signup_path%> & get notified
  </div>
</div>