<% stylesheet 'jquery-ui-1.8.15.custom'%>
<% javascript 'jquery-ui-1.8.15.custom', 'jquery.ui.datetimepicker'%>

<div id="signup">
<h1 align=center>New servicelisting</h1>

<%= render 'form' %>
<% if isadmin? %>
	<%= link_to 'Back',  admin_list_path , :class=>"links" %>
<% else %>
	<%= link_to 'Back',  bar_bussinesses_path , :class=>"links" %>
<% end %>
</div>
