<div id="admin">
<p style="color:#FFFFFF" align="center" > Please authorize your account for the following amount </p></br> 
<p style="color:#FFFFFF" align="center"> Amount to be authorized:$<%= @servicelisting.price %></p> </br>


<p align="center"><%= link_to "authorize", servicelisting_authorize_path(@servicelisting), :class=>"links"%></p>
</div>
