
<p style="color:#FFFFFF" > Please authorize your account for the following amount </p></br> 
<p style="color:#FFFFFF"> Amount to be authorized:$<%= @servicelisting.price %></p> </br>


<%= link_to "authorize", servicelisting_authorize_path(@servicelisting), :class=>"links"%>

