<div id="admin">
<table width="37%" height="295" border="0" align="center">
	
  <tr>
    <td ><h3 align="center" style="color:#48B9E9"><div style="background:#747016;
    width: 80%;
    padding:0.3em;
    font: 0.9em Verdana, Arial, Helvetica, sans-serif;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    height:26px;"> Report of Servicelistings</div> </h3></td>
  </tr>	
  <tr bgcolor="#99CC33">
     <td width="60%"><div align="center"><%= link_to "Pending Bussiness", bar_bussinesses_path, :query => "ruby on rails" %></div></td>
  </tr>
  <tr bgcolor="#99CC33">
     <td width="60%"><div align="center"><%= link_to "Suspended Bussiness", bar_bussinesses_path, :anchor => "wall"%></div></td>
  </tr>
  <tr bgcolor="#99CC33">
     <td width="60%"><div align="center"><%= link_to "Active Bussiness", bar_bussinesses_path %></div></td>
  </tr>
  
</table>
</br>
</br>
</br>
</br>
</br> 
</div> 