<div class="page_content servicelisting_guest">
  <div class="title">List of Guests</div>
  <table class="guest_list">
    <tr>
      <th>S.No</th>
      <th>Email</th>
    </tr>
    <% @guests.each_with_index do |guest, i| %>
    <tr>
      <td><%= i+1%></td>
      <td><%= guest.email %></td>
    </tr>
    <%  end %>
    <% if @guests.size == 0 %>
    <tr>
      <td colspan="2">No guests found in this servicelisting</td>
    </tr>
    <% end %>
  </table>
</div>