<div id='term_condition' align="justify" style="font-size:16px; font-weight:bold">
Bottle Service is a VIP experience offered at many upscale venues.
      With the purchase of Bottle Service, the venue provides you with your own private table, booth,
      skybox or VIP room where you and your guests are presented with a complete bottle of liquor for
      your consumption accompanied with a variety of mixers, usually cranberry juice, orange juice, 
      seltzer and tonic and limes, lemons etc. Typically, your drinks are served table-side by a
      personal waitress and you (or your server will) make whatever mix you’d like until you run out.
      In almost every case, the purchase of Bottle Service permits you and your guests to bypass lines and 
      cover fees associated with that venue.
      Depending on the venue, there is usually a limit of 1-5 persons per bottle and in some venues, 
      there maybe a two bottle minimum purchase required.
      Bottle Service is many times purchased to celebrate the great moments of life such as; Birthdays,
      Bachelorette Bachelor Parties, Anniversaries, Engagements, Promotions and other special occasions.
      However, many people also purchase Bottle Service to simply enjoy the night out at the most popular venues 
    with friends and colleagues.
</div>