 body {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url(../images/hdwallpapersvector1920x.jpg);
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: 100% auto;
    color: #787878;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 0.8em;
    overflow: scroll;
}

#header {
    background-color: #262626;
    padding: 14px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

#menu {
    float: right;  
}

#logo {
	float: left;
	/* height: 240px; */
	margin: 0;
	padding: 0px;
	color: #262626;
	
}

 #page {
    margin: 0;
    overflow: auto;
    padding: 14px;
    position: absolute;
    top: 80px;
    width: 940px;
}

h1, h2, h3 {
	margin: 0;
	padding: 12px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #FFFFFF;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	border: 0 none;
	color: #B94E0E;
}

a:hover {
}

#wrapper {
    margin: 0 auto;
    padding: 12px;
    width: 940px;
}


#search {
    margin: 0 10pt;
    padding: 0;
    position: absolute;
    top: 20px;
    left:300px;
}


#footer {
    background: -moz-linear-gradient(center top , #232323, #1A1B1B) repeat scroll 0 0 transparent;
    border: 1px solid #202020;
    border-radius: 3px 3px 3px 3px;
    font-family: Arial,Helvetica,sans-serif;
    height: 100px;
    width: 910px;
    margin-bottom: 10px;
    padding: 10px;
    position:relative;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
	color: #FA023C;
	text-shadow: 3px 3px 3px #ff8888;
}

#logo h1 {
	float: left;
	padding-left: 25px;
	letter-spacing: -1px;
	text-transform: lowercase;
	font-size: 2.6em;
}

#logo p {
	float: left;
	margin: 0;
	padding: 12px 0 0 10px;
	font: normal 14px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
} 

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}


/* Menu */

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 25px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	height: 18px;
	margin-right: 3px;
	padding: 12px 40px 0px 40px;
	background: url(../images/auth/img06.jpg) no-repeat right 10px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
}

#menu .current_page_item a {
	padding-left: 0;
}

#menu a:hover {
	text-decoration: none;
}

/* Page */

.links {
    background: none repeat scroll 0 0 #46A5E5;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    display: block;
    font-size: 10px;
    margin: 20px 0;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    width: 130px;
}


.buttonlinks {
	display: block;
	width: 130px;
	margin: 20px 0px;
	padding: 5px;
	/*background: #A03128;*/
	/* border-left: 20px solid #1B120B; */
	text-align: center;
	text-transform: uppercase;
	font-size: 24px;
    color: #ffffff;
}

/* Footer */

#footer p {
	margin: 0;
	padding-top: 40px;
	line-height: normal;
	font-size: 9px;
	text-transform: uppercase;
	text-align: center;
	color: #D78983;
}

#footer a {
	color: #4DBCE9;
}


nav {
    float: none;
    left: 235px;
    position: absolute;
    top: 1px;
}

#copy_right{
	font-size:12px;
	text-align: center; 
	color:#fff;
	float: none;
    left: 300px;
    position: absolute;
    top: 30px;
}

#social_network{
	left: 780px;
    position: absolute;
    top: 32px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: none;
}

.round{
	-moz-border-radius:    10px;
  	-webkit-border-radius: 10px;
  	border-radius:         10px;
}

#flash_notice, #flash_error, #flash_alert, #flash_success {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice, #flash_success {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.field_with_errors {  
  display: inline;  
}  
      
.field_with_errors .message {  
   color: #D00;  
   padding-left: 5px;  
   font-size: 12px;  
}  

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

.hr-line{
	border-bottom: 1px solid #CDCDCD;
}

.no-results {
	padding: 10px;
	margin-top: 20px;
	font-size: 18px;
	color: #000000;
	background-color: #DBE1E3;
	text-align: center;
}

label.error {
	margin-left: 5px;
	font-size: 11px;
	color: #ED254D;
}

.select-link {
	font-weight: bold;
}

.addthis-widget {
	margin: 5px;
    padding: 5px;
}

.table-header {
	text-align: center;
	font-weight: bold;
	background-color: #cca;
}

#social_buttons {
	top: 200px;
	left: 10px;
}

.paginate-wrapper {
	margin-top: 10px;
	text-align: center;
	font-size: 16px;
	border-top: 1px solid #000000;
}

.pagination {
	padding: 2px 3px;
	margin-top: 5px;
}

.pagination span.current {
	padding: 0 3px;
	font-size: 18px;
	font-weight: bold;
}

.odd {
   background: #E7E9EB;}

.even {
	background: #D9DBDF;
}

.details-claim {
	border: 1px solid #767676;
	border-width: 0;	
}

.static-para {
	text-align: justify;
	margin: 5px 0px 10px 0px;	
}

.static-title {
	font-weight: bold;
}

#heading_style{

}

#servicelisting {
    background:-moz-linear-gradient(center top , #F8F8F8, #FFFFFF) repeat scroll 0 0 transparent;
    border: 0 solid #202020;
    border-radius: 3px 3px 3px 3px;
    height: 660px;
    left: 250px;
    overflow: hidden;
    position: relative;
    width: 680px;
    height: 660px;
    left: 250px;

}

#servicelisting p.title {
    color: #A1C436;
    font-family: Times,"Times New Roman",serif;
    font-size: 2em;
    left: 340px;
    position: absolute;
    top: 5px;

}

#servicelisting p.short_des {
    color: #909090;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 13px;
    height: 50px;
    left: 340px;
    overflow: hidden;
    position: absolute;
    top: 55px;
    width: 320px;
}

#servicelisting p.picture {
    left: 1px;
    padding: 5px;
    position: absolute;
    top: 1px;

}

#servicelisting p.bid {
    left: 340px;
    position: absolute;
    top: 100px;
}

#servicelisting p.buy{
	position:absolute;
	top:100px;
	left:500px;
}

#servicelisting p.map{
	position:absolute;
	top:550px;
	left:1000px;
}

#servicelisting p.current_value {
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 18px;
    left: 350px;
    position: absolute;
    top: 170px;
}
#servicelisting p.current_value_fet {
    color: #A1C436;
    font-family: "arial rounded mt bold",helvetica,arial,sans-serif;
    font-size: 32px;
    left: 470px;
    position: absolute;
    top: 160px;
}

#servicelisting p.time_left {
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 18px;
    left: 400px;
    position: absolute;
    top: 200px;
}

#servicelisting p.time_left_fet {
    color: #4DBCE9;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 20px;
    left: 410px;
    position: absolute;
    top: 230px;
    width: 160px;
}

#servicelisting .jdt{
	position: absolute;
	top:230px;
	left:370px;
	width:200px;
}

#servicelisting p.share {
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 18px;
    left: 340px;
    position: absolute;
    top: 290px;
}

#facebook{
    left: 256px;
    position: absolute;
    top: 8px;
}

#twitter{
    left: 100px;
    position: absolute;
    top: 8px;
}

#servicelisting p.total_active_bidders {
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 18px;
    left: 365px;
    position: absolute;
    top: 260px;
}
#servicelisting p.total_active_bidders_fet {
    color: #4DBCE9;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 26px;
    left: 490px;
    position: absolute;
    top: 250px;
}

#details{
		-moz-border-radius: 0px 0px 8px 8px;
    background: -moz-linear-gradient(center top, #f1f1f1, #f8f8f8) repeat scroll 0 0 transparent;
    border: 0px #4DBCE9 solid;
	width:678px;
	height:310px;
	overflow: auto;
	font-size:12px;
	color: #7b7b7b;
	left: 1px;
    position: absolute;
    top: 350px;
}

#details p.spot {
    color: #4DBCE9;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 22px;
    left: 40px;
    position: absolute;
    top: 1px;
}

#details p.city {
    color: #7b7b7b;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 15px;
    left: 135px;
    position: absolute;
    top: 12px;
}

#details p.map {
    left: 1px;
    position: absolute;
    top: 40px;
    width:200px;
    height:150px;
    overflow: hidden;
}

#map_details {
	left: 1px;
    position: absolute;
    top: 40px;
    width:300px;
    height:200px;
    overflow: hidden;
    
}

#details p.address_fet {
    color: #909090;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 13px;
    height: 50px;
    left: 10px;
    overflow: auto;
    position: absolute;
    top: 250px;
    width: 300px;
}

#details p.info {
    color: #4DBCE9;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 22px;
    left: 400px;
    position: absolute;
    top: 1px;
}

#details p.description_details {
    color: #909090;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 13px;
    left: 340px;
    overflow: hidden;
    position: absolute;
    top: 40px;
    width: 300px;
    height:260px;
}


#servicelisting_links {
    left: 30px;
    position: absolute;
    top: px;
    width: 200px;
}

#servicelisting_links ul{
    font-family: "arial rounded mt bold",helvetica,arial,sans-serif;
    font-size: 16px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

#servicelisting_links li{
    display: block;
    margin: 0 0 5px;
    position: relative;
}

#servicelisting_links li.border{
    border-top: 1px solid #FFFFFF;
    margin-top: 10px;
    padding-top: 10px;
}

#servicelisting_links ul li a {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
    border-radius: 3px 3px 3px 3px;
    display: block;
    padding: 6px 10px 8px;
    text-decoration: none;
    width: 200px;
}

#servicelisting_links ul li a:link {
    color: #1781C1;
}

#servicelisting_links ul li a:visited {
    color: #1781C1;
}

#servicelisting_links ul li a:active {
    margin: 0;
}


#servicelisting_links ul li a:hover, div.nav ul li.selected a {
    background-color: #A1C436;
    color: #ffffff;
    font-weight: bold;
}


#buy_now{
	-moz-border-radius: 3px 3px 3px;
    background: -moz-linear-gradient(center top, #232323, #1A1B1B) repeat scroll 0 0 transparent;
    border: 1px solid #202020;
	position: relative;
	width:928px;
	overflow: hidden;
}

#bid_new{
	-moz-border-radius: 3px 3px 3px;
    background: -moz-linear-gradient(center top, #232323, #1A1B1B) repeat scroll 0 0 transparent;
    border: 1px solid #202020;
	position: relative;
	width:928px;
	overflow: hidden;
}

#admin_index{
	 -moz-border-radius: 3px 3px 3px;
    background: -moz-linear-gradient(center top, #232323, #1A1B1B) repeat scroll 0 0 transparent;
    border: 1px solid #202020;
	position: relative;
	width:928px;
	overflow: hidden;
}

#signup{
	 -moz-border-radius: 3px 3px 3px;
    background: -moz-linear-gradient(center top, #232323, #1A1B1B) repeat scroll 0 0 transparent;
    border: 1px solid #202020;
	position: relative;
	width:928px;
	overflow: hidden;
	color:#000;
}

#admin{
	 -moz-border-radius: 3px 3px 3px;
    background: -moz-linear-gradient(center top, #000, #000) repeat scroll 0 0 transparent;
    border: 1px solid #202020;
	position: relative;
	width:928px;
	overflow: hidden;
	color:#000;
}

#list{
	 -moz-border-radius: 3px 3px 3px;
    background: -moz-linear-gradient(center top, #ffffff, #ffffff) repeat scroll 0 0 transparent;
    border: 1px solid #202020;
	position: relative;
	width:928px;
	overflow: hidden;
	color:#000;
}

#action{
	 -moz-border-radius: 3px 3px 3px;
    background: -moz-linear-gradient(center top, #000, #000) repeat scroll 0 0 transparent;
    border: 1px solid #202020;
	position: relative;
	width:428px;
	overflow: hidden;
	color:#000;
}

#failure{
	 -moz-border-radius: 3px 3px 3px;
    background: -moz-linear-gradient(center top, #232323, #1A1B1B) repeat scroll 0 0 transparent;
    border: 1px solid #202020;
	position: relative;
	width:928px;
	height:370px;
	overflow: hidden;
}

#success{
	 -moz-border-radius: 3px 3px 3px;
    background: -moz-linear-gradient(center top, #232323, #1A1B1B) repeat scroll 0 0 transparent;
    border: 1px solid #202020;
	position: relative;
	width:928px;
	height:350px;
	overflow: hidden;
}

#login{
	 -moz-border-radius: 3px 3px 3px;
    background: -moz-linear-gradient(center top, #232323, #1A1B1B) repeat scroll 0 0 transparent;
    border: 1px solid #202020;
	position: relative;
	width:928px;
	overflow: hidden;

}

#servicelisting_new{
	 -moz-border-radius: 3px 3px 3px;
    background: -moz-linear-gradient(center top, #232323, #1A1B1B) repeat scroll 0 0 transparent;
    border: 1px solid #202020;
	position: relative;
	width:928px;
	overflow: hidden;
}

#checkout_site{
	 -moz-border-radius: 3px 3px 3px;
    background: -moz-linear-gradient(center top, #232323, #1A1B1B) repeat scroll 0 0 transparent;
    border: 1px solid #202020;
	position: relative;
	width:928px;
	overflow: hidden;
}

#success{
	 -moz-border-radius: 3px 3px 3px;
    background: -moz-linear-gradient(center top, #232323, #1A1B1B) repeat scroll 0 0 transparent;
    border: 1px solid #202020;
	position: relative;
	width:928px;
	overflow: hidden;
}

#servicelisting_index{
	position: relative;
}

#servicelisting_index_r {
    -moz-border-radius: 3px 3px 3px;
    background: -moz-linear-gradient(center top, #232323, #1A1B1B) repeat scroll 0 0 transparent;
    border: 1px solid #202020;
    height: 120px;
    position: relative;
    width: 906px;
    margin-bottom: 10px;
    padding: 10px;
    overflow: hidden;
}
#servicelisting_index_r p.title {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    top: 2px;
    left: 106px;
    position: relative;
    font-family: Georgia, "Times New Roman", Times, serif;
}

#servicelisting_index_r p.picture{
	position: absolute;
    left: 3px;	
    top:1px;
    padding: 17px 1px 1px;
}

#servicelisting_index_r p.address{
	position: absolute;
	left:106px;
	top:35px;
	font-size:15px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#servicelisting_index_r p.more {
    left: 250px;
    position: absolute;
    top: 35px;
}
#servicelisting_index_r p.map {
    left: 340px;
    position: absolute;
    top: 108px;
}

#servicelisting_index_r p.address_fet {
    color: #909090;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 11px;
    height: 45px;
    left: 110px;
    overflow: hidden;
    position: relative;
    top: 11px;
    width: 200px;
}

#servicelisting_index_r p.city {
    color: #909090;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 11px;
    height: 20px;
    left: 110px;
    overflow: hidden;
    position: relative;
    top: 11px;
    width: 200px;
}

#servicelisting_index_r p.time_left {
    color: #FFFFFF;
    font-size: 18px;
    left: 370px;
    position: absolute;
    top: 25px;
}

#servicelisting_index_r p.time_left_fet{
	position: absolute;
    left: 390px;	
    top: 60px;
    font-size:22px;
}

#servicelisting_index_r .jdt {
    background-color: none;
    left: 360px;
    position: absolute;
    top: 65px;
    width: 200px;
}

#servicelisting_index_r p.current_value{
	color: #fff;
    font-size: 18px;
    left: 570px;
    position: absolute;
    top: 25px;
}

#servicelisting_index_r p.current_value_fet {
    color: #4DBCE9;
    font-size: 22px;
    left: 590px;
    position: absolute;
    top: 60px;
}

#servicelisting_index_r p.edit {
    left: 540px;
    position: absolute;
    top: 1px;
}

#servicelisting_index_r p.delete {
    left: 660px;
    position: absolute;
    top: 1px;
}

#servicelisting_index_r p.bid {
    left: 740px;
    position: absolute;
    top: 1px;
}
#servicelisting_index_r p.buy {
    left: 740px;
    position: absolute;
    top: 40px;
}

#servicelisting_index_r p.higher {
    left: 720px;
    position: absolute;
    top: 92px;
}

#map{
	-moz-border-radius: 3px 3px 3px;
    background: -moz-linear-gradient(center top, #232323, #1A1B1B) repeat scroll 0 0 transparent;
    border: 1px solid #202020;
	position: relative;
	width:928px;
	height:420px;
	overflow: hidden;
}

#map_google {
    border: 1px solid #C43616;
    height: 400px;
    left: 60px;
    overflow: hidden;
    position: absolute;
    top: 5px;
    width: 800px;
}

#term_condition{
	width:700px;
	height:500px;
	float:center;
	overflow: auto;
}

select {
    -moz-border-radius: 4px;
    -moz-box-shadow: 1px 1px 5px #cfcfcf inset;
    border: 1px solid #cfcfcf;
    vertical-align: middle;
    width: 250px;
	height: 25px;
}
option {
    background-color: #fef5e6;
    border-bottom: 1px solid #ebdac0;
    border-right: 1px solid #d6bb86;
    border-left: 1px solid #d6bb86;
	height: 25px;}

option:hover {
    cursor: pointer;
}

.textfield_effect {
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-image: url("https://a248.e.akamai.net/si.lscdn.net/deals/images/bingy/text-shadow.png");
	background-repeat: repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #000000;
	width: 250px;
	height: 25px;
}

textarea {
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-image: url("https://a248.e.akamai.net/si.lscdn.net/deals/images/bingy/text-shadow.png");
	background-repeat: repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	width: 250px;
	height: 100px;
}

#send_mail{
	 -moz-border-radius: 3px 3px 3px;
    background: -moz-linear-gradient(center top, #fff, #fff) repeat scroll 0 0 transparent;
    border: 1px solid #202020;
	position: relative;
	width:928px;
	overflow: hidden;
	color:#000;
}








