
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
/* end */

body {
  background-color: #FFFFFF;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  height: 100%;
  overflow-x: hidden;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#background {
    -moz-user-select: none;
    background: url("/images/background-fade.png") repeat-x scroll left bottom transparent;
    left: 0;
    min-height: 950px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

.fader {
	height: 420px;
    position: fixed;
    z-index: -1;
}

#background .fader {
    height: 100%;
    position: absolute;
}

#background img {
    left: 0;
    min-width: 1200px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
}	

#header {  	 
 	 background: repeat scroll 0 0 transparent;
	 background-color: #0C294A;
	 padding: 10px 0px;
	 margin-bottom: 10px;
	 min-height: auto;
	 width: 100%;	 
	 border-bottom: 1px solid #3377AA;	 
	 opacity: 0.98;	 
}

#city-dropdown{
	text-align: center;
}

/* Menu */
#menu {
    float: right;
    margin-top: -30px;
    position: relative;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 25px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	height: 18px;
	margin-right: 3px;
	padding: 12px 20px 0px 20px;
	background: url(../images/auth/img06.jpg) no-repeat right 10px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
}

#menu .current_page_item a {
	padding-left: 0;
}

#menu a:hover {
	text-decoration: none;
}

#logo {
    color: #262626;
    float: left;    
    padding: 0;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
	color: #FA023C;
	text-shadow: 3px 3px 3px #ff8888;
}

#logo h1 {
	float: left;
	padding-left: 25px;
	letter-spacing: -1px;
	text-transform: lowercase;
	font-size: 2.6em;
}

#logo p {
	float: left;
	margin: 0;
	padding: 12px 0 0 10px;
	font: normal 14px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
} 

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}

#container {

  	margin: 0 auto;  	
  	padding: 20px 40px;  
  	min-height: 100%;  
  	position: relative;  
}

#footer {
	background: repeat scroll 0 0 transparent;
	background-color: #242627;
	margin-top: 20px;
    padding: 0px;    
    min-height: 70px;
	width: 100%;
    opacity: 0.9;	
    position: absolute;
	bottom: 0;
}

#footer p {
	margin: 0;
	padding-top: 40px;
	line-height: normal;
	font-size: 9px;
	text-transform: uppercase;
	text-align: center;
	color: #D78983;
}

#footer a {
	color: #4DBCE9;
}


.footer-links {
    text-align:center;    
}

.footer-links ul {
  margin: 0;
  padding: 0;
}

.footer-links ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

.footer-links ul li a {
  padding: 0 5px;
  font-weight: bold;
}

.footer-links ul li a:visited {
  color: #09c;
}

.footer-links ul li a:hover {
  text-decoration: none;
}

#copy_right{
	font-size:12px;
	text-align: center; 
	color:#fff;     
}

#social_network{
	left: 780px;
    position: absolute;
    top: 32px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

h1, h2, h3 {
	margin: 0;
	padding: 12px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #FFFFFF;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	border: 0 none;
	color: #FF6600;
}

a:hover {
}

#search {
    margin: 0 10pt;
    padding: 0;
    position: absolute;
    top: 20px;
    left:300px;
}

.links {
    background: none repeat scroll 0 0 #46A5E5;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    display: block;
    font-size: 10px;
    margin: 20px 0;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    width: 140px;
	font-size:1.2em;
}

.faded_links {
    background: none repeat scroll 0 0 #2f2f2f;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    display: block;
    font-family:Arial;
	font-size:15px;
	font-weight:bold;
    padding:6px 24px;
    text-align: center;
    -moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.buttonlinks {
	display: block;
	width: 130px;
	margin: 20px 0px;
	padding: 5px;
	/*background: #A03128;*/
	/* border-left: 20px solid #1B120B; */
	text-align: center;
	text-transform: uppercase;
	font-size: 24px;
    color: #ffffff;
}

.round{
	-moz-border-radius:    10px;
  	-webkit-border-radius: 10px;
  	border-radius:         10px;
}

#flash_notice, #flash_error, #flash_alert, #flash_success {
  padding: 5px 8px;
  margin: 10px 0;
  width:45%;
  float:center;
  margin-left: 100px;
  padding-left: 300px;
}

#flash_notice, #flash_success {
  background-color: #CFC;
  border: solid 1px #6C6;
  width:45%;
  float:center;
  margin-left: 100px;
  padding-left: 300px;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.field_with_errors {  
  display: inline;  
}  
      
.field_with_errors .message {  
   color: #D00;  
   padding-left: 5px;  
   font-size: 12px;  
}  

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
  
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

.hr-line{
	border-bottom: 1px solid #CDCDCD;
}

.no-results {
	padding: 10px;
	margin-top: 20px;
	font-size: 18px;
	color: #000000;
	background-color: #DBE1E3;
	text-align: center;
}

label.error {
	margin-left: 5px;
	font-size: 11px;
	color: #ED254D;
}

.select-link {
	font-weight: bold;
}

.addthis-widget {
	margin: 5px;
    padding: 5px;
}

.table-header {
	text-align: center;
	font-weight: bold;
	background-color: #cca;
}

#social_buttons {
	top: 200px;
	left: 10px;
}

.paginate-wrapper {
	margin-top: 10px;
	text-align: center;
	font-size: 16px;
	border-top: 1px solid #000000;
}

.pagination {
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 5px;
    padding: 2px 3px;
    text-align: center;
}

.pagination span.current {
	padding: 0 3px;
	font-size: 18px;
	font-weight: bold;
}

.odd {
   background: #E7E9EB;
}


.even {
	background: #D9DBDF;
}

.details-claim {
	border: 1px solid #767676;
	border-width: 0;	
}

.static-para {
	text-align: justify;
	margin: 5px 0px 10px 0px;	
}

.static-title {
	font-weight: bold;
}

#heading_style{

}








#buy_now{
	-moz-border-radius: 3px 3px 3px;
    background: -moz-linear-gradient(center top, #232323, #1A1B1B) repeat scroll 0 0 transparent;
	background: repeat scroll 0 0 rgba(47, 47, 47, 0.7);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#202020, endColorstr=#202020)";
	/* For WebKit (Safari, Google Chrome etc) */
	background: -webkit-gradient(linear, left top, left bottom, from(#202020), to(#202020));
    border: 1px solid #202020;
	position: relative;
	width:928px;
	overflow: hidden;
}

#bid_new{
	-moz-border-radius: 3px 3px 3px;
    background: -moz-linear-gradient(center top, #232323, #1A1B1B) repeat scroll 0 0 transparent;
	background: repeat scroll 0 0 rgba(47, 47, 47, 0.7);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#202020, endColorstr=#202020)";
	/* For WebKit (Safari, Google Chrome etc) */
	background: -webkit-gradient(linear, left top, left bottom, from(#202020), to(#202020));
    border: 1px solid #202020;
	position: relative;
	width:400px;
	overflow: hidden;
}

#admin_index{
	 -moz-border-radius: 3px 3px 3px;
    background: -moz-linear-gradient(center top, #232323, #1A1B1B) repeat scroll 0 0 transparent;
    border: 1px solid #202020;
	position: relative;
	width:928px;
	overflow: hidden;
}

#signup{
	-moz-border-radius: 5px;
	border-radius: 5px;
    background: repeat scroll 0 0 rgba(47, 47, 47, 0.7);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#202020, endColorstr=#202020)";
	/* For WebKit (Safari, Google Chrome etc) */
	background: -webkit-gradient(linear, left top, left bottom, from(#202020), to(#202020));
    border: 1px solid #202020;
	position: relative;
	width: auto;
	overflow: hidden;
	color: #000;
	opacity: 0.95;
}

#signupnew{
	margin:0 auto;
	position:relative;
	top:50px;
}
#signupcontainer {
		margin: 0px 350px 70px;
		width: 500px;
}
#signupnew label{
	 padding: 5px;
	 font-size: 1.2em;
	color: #fff;
}

#signupnew input{
	margin :5px;
	padding: 5px;
	font-size: 1.2em;
	font-weight: lighter;
	color: #222;
}

#gradient {
		color: #fff;
		height: 100px;
		padding: 10px;
		/* For WebKit (Safari, Google Chrome etc) */
		background: -webkit-gradient(linear, left top, left bottom, from(#00f), to(#fff));
		/* For Mozilla/Gecko (Firefox etc) */
		background: -moz-linear-gradient(top, #00f, #fff);
		/* For Internet Explorer 5.5 - 7 */
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FFFFFFFF);
		/* For Internet Explorer 8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FFFFFFFF)";
	}

#admin{
	 -moz-border-radius: 3px 3px 3px;
    background: -moz-linear-gradient(center top, #000, #000) repeat scroll 0 0 transparent;
    border: 1px solid #202020;
	position: relative;
	width:928px;
	overflow: hidden;
	color:#000;
}

#list{
	 -moz-border-radius: 3px 3px 3px;
    background: -moz-linear-gradient(center top, #ffffff, #ffffff) repeat scroll 0 0 transparent;
    border: 1px solid #202020;
	position: relative;
	width:928px;
	overflow: hidden;
	color:#000;
}

#action{
	 -moz-border-radius: 3px 3px 3px;
    background: -moz-linear-gradient(center top, #000, #000) repeat scroll 0 0 transparent;
    border: 1px solid #202020;
	position: relative;
	width:428px;
	overflow: hidden;
	color:#000;
}

#failure{
	 -moz-border-radius: 3px 3px 3px;
    background: -moz-linear-gradient(center top, #232323, #1A1B1B) repeat scroll 0 0 transparent;
    border: 1px solid #202020;
	position: relative;
	width:928px;
	height:370px;
	overflow: hidden;
}

#success{
	 -moz-border-radius: 3px 3px 3px;
    background: -moz-linear-gradient(center top, #232323, #1A1B1B) repeat scroll 0 0 transparent;
    border: 1px solid #202020;
	position: relative;
	width:928px;
	height:350px;
	overflow: hidden;
}

#login{
	 -moz-border-radius: 3px 3px 3px;
    background: -moz-linear-gradient(center top, #232323, #1A1B1B) repeat scroll 0 0 transparent;
    border: 1px solid #202020;
	position: relative;
	width:928px;
	overflow: hidden;

}

#servicelisting_new{
	 -moz-border-radius: 3px 3px 3px;
    background: -moz-linear-gradient(center top, #232323, #1A1B1B) repeat scroll 0 0 transparent;
    border: 1px solid #202020;
	position: relative;
	width:928px;
	overflow: hidden;
}

#checkout_site{
	-moz-border-radius: 5px;
	border-radius: 5px;
   	background: repeat scroll 0 0 rgba(47, 47, 47, 0.7);
    border: 1px solid #202020;
	position: relative;
	width:auto;
	overflow: hidden;
}

#success{
	 -moz-border-radius: 3px 3px 3px;
    background: -moz-linear-gradient(center top, #232323, #1A1B1B) repeat scroll 0 0 transparent;
    border: 1px solid #202020;
	position: relative;
	width:928px;
	overflow: hidden;
}


#map{
	-moz-border-radius: 3px 3px 3px;
    background: -moz-linear-gradient(center top, #232323, #1A1B1B) repeat scroll 0 0 transparent;
    border: 1px solid #202020;
	position: relative;
	width:928px;
	height:420px;
	overflow: hidden;
}

#map_google {
    border: 1px solid #C43616;
    height: 400px;
    left: 60px;
    overflow: hidden;
    position: absolute;
    top: 5px;
    width: 800px;
}

#term_condition{
	width:700px;
	height:500px;
	float:center;
	overflow: auto;
}

#authorization_hold{
	width:400px;
	height:300px;
	float:center;
	overflow: auto;
}

#about_us{
	width:900px;
	height:450px;
	float:center;
	overflow: auto;
	margin:10px;
}

select {
    -moz-border-radius: 4px;
    -moz-box-shadow: 1px 1px 5px #cfcfcf inset;
    border: 1px solid #cfcfcf;
    vertical-align: middle;
    width: 250px;
	height: 25px;
	font-size: 1.5em;
}
option {
    background-color: #fef5e6;
    border-bottom: 1px solid #ebdac0;
    border-right: 1px solid #d6bb86;
    border-left: 1px solid #d6bb86;
	height: 25px;
}

option:hover {
    cursor: pointer;
}

.textfield_effect {
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-image: url("https://a248.e.akamai.net/si.lscdn.net/deals/images/bingy/text-shadow.png");
	background-repeat: repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #000000;
	width: 250px;
	height: 25px;
}

#send_mail{
	 -moz-border-radius: 3px 3px 3px;
    background: -moz-linear-gradient(center top, #fff, #fff) repeat scroll 0 0 transparent;
    border: 1px solid #202020;
	position: relative;
	width:928px;
	overflow: hidden;
	color:#000;
}

/*New CSS changes*/
div.form_box {
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 10px;
    -moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #71B7E2;
}

.form_box .form-field {
    margin: 10px 0;
}

.form-field label {
    text-align: left;
    font-size: 18px;
    color: #1781C1;
    display: block;
    margin-bottom: 5px;
}

.form-field input[type=text] {
    font-size: 16px;
    padding: 3px;
    min-width: 250px;
}

.form-field textarea {
    font-size: 14px;
    padding: 3px;
    min-width: 250px;
    min-height: 150px;
}


.form-label {
    text-align: right;
    font-size:x-large;
    color:#1781C1;
}

.hidden {
    display: none;
}
/* Link Button */
.link_button {
    -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
}

.link_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}

.link_button:active {
	position:relative;
	top:1px;
}
/* End Link Button */

/* Users controller*/
/* guest_list*/
.user_guest_list {
    -moz-border-radius: 5px;
	border-radius: 5px;
    background-color: #FFFFFF;
    border: 1px solid #202020;
	min-height: 300px;
    width: 75%;
    margin: 0 auto;
    padding: 30px;
	opacity: 0.95;
}

.user_guest_list .title {
    color: #4DBCE9;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 30px;
    margin-bottom: 10px;
}

.guest_list {
    margin: 10px 0px;
    border-collapse: collapse;
}

.guest_list th {
    font-size: 18px;
    text-align: left;
    text-decoration: underline;
    padding: 5px;
}

.guest_list td {
    padding: 5px;
    text-align: left;
    font-size: 14px;
}

.invite_more {
    margin: 10px 0;
}
/* End Users*/

/* Servicelistings Controller */
/* index*/
.service_listings {
    width: 900px;
    margin: 0 auto;
}

.service_listing {
    -moz-border-radius: 3px;
	border-radius: 3px;
   	background: repeat scroll 0 0 rgba(47, 47, 47, 0.9);
	background: repeat scroll 0 0 rgba(47, 47, 47, 0.7);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#202020, endColorstr=#202020)";
	/* For WebKit (Safari, Google Chrome etc) */
	background: -webkit-gradient(linear, left top, left bottom, from(#202020), to(#202020));
    border: 1px solid #2F2F2F;
    margin-bottom: 10px;
    opacity: 0.95;
    overflow: hidden;
    padding: 10px;
    width: auto;
    z-index: 99;
}

.service_listing p {
    line-height: 100%;
}

.service_listing .info {
    width: 150px;
    float: left;
    margin: 0 10px;
}

.service_listing .picture {
    margin-bottom: 5px;
}

.service_listing .address {
    color: #FFFFFF;
    font-size: 14px;
}

.service_listing .title {
    color: #FFFFFF;
    font-size: 30px;
    font-family:  Georgia,"Times New Roman",Times,serif;
    cursor: default;

    margin-bottom: 5px;
}

.service_listing .description {
    color: #FFFFFF;
    font-size: 13px;
    margin: 5px;
    padding: 10px 0;
    text-align: justify;
    line-height: 15px;
}

.service_listing .description .more_details {
    color: #FF6600;
}

.service_listing .time_left {
    margin: 10px 0px;
    font-size: 25px;
}

.service_listing .time_closed {
    margin: 10px 0px;
    font-size: 20px;
    font-weight: bold;
    color: #FF0000;

}

.service_listing .current_value {
    color: #4DBCE9;
    font-size: 22px;
}

.service_listing .buynow_value {
    color: #4DBCE9;
    font-size: 22px;
}

.service_listing .higher {
    margin: 10px 0;
}

.service_listing .admin-links {
    text-align: right;
}

/* Show*/
.servicelisting_links {
    padding: 5px;
    width: auto;
    float: left;
    margin-right: 30px;
}

.servicelisting_links ul {
    font-family: "arial rounded mt bold",helvetica,arial,sans-serif;
    font-size: 16px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.servicelisting_links li{
    display: block;
    margin: 0 0 5px;
}

.servicelisting_links ul li a {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
    border-radius: 3px 3px 3px 3px;
    display: block;
    padding: 6px 10px 8px;
    text-decoration: none;
    width: 200px;
}

.servicelisting_links ul li a:link {
    color: #1781C1;
}

.servicelisting_links ul li a:visited {
    color: #1781C1;
}

.servicelisting_links ul li a:active {
    margin: 0;
}

.servicelisting_links ul li a:hover, div.nav ul li.selected a {
    background: -moz-linear-gradient(71% 75% 90deg, #092647, #092647, #011636 100%) repeat scroll 0 0 transparent;
    color: #FFFFFF;
    font-weight: bold;
}

.servicelisting {
    background: repeat scroll 0 0 rgba(255, 255, 255, 0.9);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#FFFFFF)";
	/* For WebKit (Safari, Google Chrome etc) */
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#FFF));
	opacity:0.95;
    border: 0 solid #202020;
    border-radius: 5px;
    overflow: hidden;
    width: 700px;
    height: auto;
    float: left;
}

.servicelisting p {
    line-height: 100%;
}

.servicelisting .picture {
    float: left;
    padding: 10px;
}

.servicelisting .details {
    float: left;
    margin-right: 5px;
}

.servicelisting .title {
    color: #A1C436;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 2em;
    width: 348px;
}

.servicelisting table {
    width: 350px;
    margin-bottom: 10px;
}

.servicelisting table td {
    padding: 5px 0;
}

.servicelisting table td.label {
    font-size: 18px;
    font-weight: bold;
    font-family: Georgia,"Times New Roman",Times,serif;
    text-align: left;
    vertical-align: top;
}

.servicelisting table td.value {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    vertical-align: top;
}

.servicelisting .bid a, .servicelisting .buy a{
    width: 75px;
    text-align: center;
}

.servicelisting .time_countdown {
    font-size: 15px;
    font-weight: bold;
}

.servicelisting .details2 {
    -moz-border-radius: 0px 0px 8px 8px;
    background: -moz-linear-gradient(center top, #f1f1f1, #f8f8f8) repeat scroll 0 0 transparent;
    border: 0px #4DBCE9 solid;
	width:700px;
    height: auto;
	overflow: auto;
	font-size:12px;
	color: #7b7b7b;
}

.servicelisting .map {
    float: left;
    padding: 10px;
}

.servicelisting .spot {
    color: #4DBCE9;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 22px;
}

.servicelisting .city {
    color: #7b7b7b;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 15px;
}

.servicelisting .map_img {
	width:300px;
    height:200px;
    overflow: hidden;
    margin-bottom: 10px;
}

.servicelisting .address {
    color: #909090;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 13px;
    overflow: auto;
    margin-bottom: 10px;
    height: 25px;
}

.servicelisting .description {
    float: left;
    padding: 10px;
    width: 350px;
}

.servicelisting .info {
    color: #4DBCE9;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 22px;
}

.servicelisting .description_details {
    text-align: justify;
}
/* End Servicelistings*/

/* Orders Controller */
/* order_success */
.order_success_message {
    font-size: 36px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 30px;
}

.invites {
    text-align: center;
}

.invite_by_email_div {
    width: 500px;
}
/* End Orders*/

/* Contacts controller*/
/* index*/
.contacts-index {
    -moz-border-radius: 5px;
	border-radius: 5px;
    background-color: #FFFFFF;
    border: 1px solid #202020;
	min-height: 300px;
    width: 75%;
    margin: 0 auto;
    padding: 30px;
	opacity: 0.95;
}

.contacts-index h2 {
    color: #000000;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.contacts-index p.import_gmail_msg {
    line-height: 100%;
    font-size: 14px;
    padding: 5px 0px;
}

.contacts {
    padding: 10px;
    width: 800px;
}

#contacts-list {
    padding: 0 5px;
    margin: 5px 0;
}

.contact {
    border-bottom: 1px dotted silver;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.contact label {
    margin: 0px 5px;
    font-size: 20px;
}

.contact p.email {
    font-size: 16px;
    color: #555555;
}

/* list navigation */
.listNav {
    margin:0 0 10px;
}

.ln-letters {
    overflow:hidden;
}

.ln-letters a {
    font-size:1.2em;
    display:block;
    float:left;
    padding:2px 8px;
    border:1px solid silver;
    border-right:none;
    text-decoration:none;
}

.ln-letters a.ln-last {
    border-right:1px solid silver;
}

.ln-letters a:hover, .ln-letters a.ln-selected {
    background-color:#eaeaea;
}

.ln-letters a.ln-disabled {
    color:#ccc;
}

.ln-letter-count {
    text-align:center;
    font-size:0.8em;
    line-height:1;
    margin-bottom:3px;
    color:#336699;
    position: absolute;
}
/* End contacts*/