<div id="signup">
<div id='signup' align="left" style="font-size: 1.2em; color:#FFffff; padding: 50px;">	
<p align="center" style="font-size: 1.4em">About Socialcheers</p><br><br>
<u><strong>ABOUT US:</strong></u><br />
<br />
<p style="padding 10px">
We enable venues to sell a limited number of bottle service tables by using our proprietary online servicelistings in which our subscribers then bid on that bottle service package with the package going to the highest bidder. This innovative service offering allows our subscriber list to set the price of that bottle service and the venues benefit from selling tables that otherwise would sit empty or using our services as an extension of the venues normal bottle service sales channel.<br />
<u><strong><br />

FOR OUR SUBSCRIBERS:</strong></u><br />
<br />
By allowing you the exclusive right to &ldquo;Bid&rdquo; on the limited bottle service packages, you and your friends set your price, ensuring the best deal possible. In addition to all the fun you will have bidding with your friends and building your guest list through your social networks, you can feel comfortable knowing that ALL the bottle service packages purchased on Socialcheers.com are all-inclusive and prepaid. So this means you will not be required to pay anything once you arrive at YOUR table on the designated night.&nbsp; Simply walk-in, sit at your table, drink, socialize and walk-out at the end of the night (of course any tip you give is optional and much appreciated by your hostess).&nbsp; It&rsquo;s FREE to sign-up and FREE to bid.&nbsp;&nbsp; <br />
<br />
<strong><u>FOR OUR VENUES:</u><br />
</strong> <br />
We offer you a risk-free guaranteed method to sell bottle service tables by using our proprietary online bottle servicelistings and tapping into our subscriber list.&nbsp; Specially, we enable you to post a limited number of your bottle service tables on our site and allow patrons/members to bid on them guaranteeing a sale. This innovative service offering allows you to use our services to sell bottle service that otherwise would sit empty or use our services as an extension of your normal bottle service sales channel. Our service offering model gives you a new revenue stream while helping you fill-up your venue.<br />
<br />
Register your bottle service today! It&rsquo;s FREE to register and payment is guaranteed!&nbsp; <br />
<u><br />
<br />
<strong>FOR OUR SPONSORS:</strong></u> <br />
<br />
Because our focus- and only focus- is bottle service, we feel that we provide the best partnership for premium spirit companies and those related to the spirit industry. Whether it&rsquo;s a new brand or flavor, we are the source to partner with to kick-off sample trials, advertising, promotions and share information that will change how consumers choose their next drink. <br />
<br />
Contact us today and see how we can help you promote an &ldquo;experience&rdquo; that mimics your brand strategy<br />
<strong><br />
WHAT IS BOTTLE SERVICE YOU ASK?</strong><br />
<br />
Bottle service is a VIP experience offered at many upscale venues.&nbsp; With the purchase of bottle service, the venue provides you with your own private table, booth, skybox or VIP room where you and your guests are presented with a complete bottle of spirits for your consumption accompanied with a variety of mixers; usually cranberry juice, orange juice, seltzer and tonic limes and lemons etc. Typically, your drinks are served table-side by a personal waitress and you (or your server will) make whatever mix you&rsquo;d like until you run out.<br />
In almost every case, the purchase of bottle service permits you and your guests to bypass lines and cover fees associated with that venue.<br />
Depending on the venue, there is usually a limit of 1-6 persons per bottle and in some venues, there maybe a two bottle minimum purchase required.<br />
Bottle service is many times purchased to celebrate the great moments of life such as; Birthdays, Bachelorette/Bachelor Parties, Anniversaries, Engagements, Promotions and other special occasions. However, many people also purchase bottle service spontaneously to simply enjoy the night out with friends. <br />
<strong><br />
GOT A QUESTION? CONTACT US! </strong><br />
<br />
We work very hard to respond to all of our clients, members and general inquires as quickly and efficiently as possible. Therefore, we highly recommend that you email your questions or comments to us. info@Socialcheers.com</br></br>
</p>
</div>
</div>
</br>