<div id="signup">
<div id='signup' align="left" style="font-size: 1.2em; color:#FFffff; padding: 50px;">	
<p align="center" style="font-size: 1.4em">About Socialcheers</p><br><br>
<u><strong>ABOUT US:</strong></u><br />
<br />
<p style="padding 10px">
We enable venues to sell a limited number of vacant bottle service tables by using our proprietary
auction-style bidding servicelistings in which our subscribers bid on that bottle service package with
the package going to the highest bidder. This innovative service offering allows our subscriber list to
set the price of that bottle service and the venues benefit from selling tables that otherwise would sit
empty<br />
<u><strong><br />

FOR OUR SUBSCRIBERS:</strong></u><br />
<br />
By allowing you the exclusive right to “Bid” on the limited bottle service packages, you and your
friends set the price, ensuring the best deal possible. We offer a number of popular venues for
different nights of the week with different bottle packages so bid or buy a package and share it with
your friends through your social network
<br />
<br />
It’s FREE to sign-up and FREE to bid.
<br />
<br />
*Disclaimer* Purchases do not include Tax & Gratuity
<br />
<br />

<strong><u>FOR OUR VENUES:</u><br />
</strong> <br />
Our proprietary auction-style bidding service allows you to sell vacant bottle-service tables by enabling customers to bid on the table through our secured servicelisting portal – guaranteeing you payment.   In fact, you are paid before the customer even arrives at your venue.  In addition, you are provided with your own control panel- giving you complete control of your servicelisting attributes such as; the minimum bid amount, the bottle package, the number of guests and event date. All this while we promote your listing for you- allowing you to sit back and collect the money.
<br />
<br />
Register your bottle service today! It&rsquo;s FREE to register and payment is guaranteed!&nbsp; <br />
<u><br />
<br />
<strong>FOR OUR SPONSORS:</strong></u> <br />
<br />
Because our focus- and only focus- is bottle service, we feel that we provide the best partnership for premium spirit companies and those related to the spirit industry. Whether it’s a new brand or flavor, we are the source to partner with to kick-off sample trials, advertising, promotions and share information that will change how consumers choose their next drink. 

<br />
Contact us today and see how we can help you promote an &ldquo;experience&rdquo; that mimics your brand strategy<br />
<strong><br />
WHAT IS BOTTLE SERVICE YOU ASK?</strong><br />
<br />
Bottle service is a VIP experience offered at many upscale venues.&nbsp; With the purchase of bottle service, the venue provides you with your own private table, booth, skybox or VIP room where you and your guests are presented with a complete bottle of spirits for your consumption accompanied with a variety of mixers; usually cranberry juice, orange juice, seltzer and tonic limes and lemons etc. Typically, your drinks are served table-side by a personal waitress and you (or your server will) make whatever mix you&rsquo;d like until you run out.<br />
In almost every case, the purchase of bottle service permits you and your guests to bypass lines and cover fees associated with that venue.<br />
Depending on the venue, there is usually a limit of 1-6 persons per bottle and in some venues, there maybe a two bottle minimum purchase required.<br />
Bottle service is many times purchased to celebrate the great moments of life such as; Birthdays, Bachelorette/Bachelor Parties, Anniversaries, Engagements, Promotions and other special occasions. However, many people also purchase bottle service spontaneously to simply enjoy the night out with friends. <br />
<strong><br />
GOT A QUESTION? CONTACT US! </strong><br />
<br />
We work very hard to respond to all of our clients, members and general inquires as quickly and efficiently as possible. Therefore, we highly recommend that you email your questions or comments to us. info@Socialcheers.com</br></br>
</p>
</div>
</div>
</br>