<div id="signup">
<div id='signup' align="left" style="font-size: 1.2em; color:#FFffff; padding: 10px;">	
<p align="center" style="font-size:16px">About Us:</p><br><br>
<p align="center" style="font-size:16px">Thank you for inquiring about Socialcheers.com and welcome to our site! </p><br> 
What we offer is an all-inclusive pre-paid bottle service deal available only to socialcheers.com members from some of the most popular venues in the major cities. We obtain exclusive deals from venues for a set number of bottle service tables and through this, we are able to offer an unmatched and exclusive experience to our members that incorporate; social network, bidding and night-life all with the opportunity to obtain bottle service at a huge discount.<br><br>
<p align="left" style="font-size:16px">WHAT IS BOTTLE SERVICE YOU ASK?</p><br>
Bottle Service is a VIP experience offered at many upscale venues.  With the purchase of Bottle Service, the venue provides you with your own private table, booth, skybox or VIP room where you and your guests are presented with a complete bottle of liquor for your consumption accompanied with a variety of mixers, usually cranberry juice, orange juice, seltzer and tonic and limes, lemons etc. Typically, your drinks are served table-side by a personal waitress and you (or your server will) make whatever mix you’d like until you run out.
</br></br>
In almost every case, the purchase of Bottle Service permits you and your guests to bypass lines and cover fees associated with that venue.
</br></br>
Depending on the venue, there is usually a limit of 1-5 persons per bottle and in some venues, there maybe a two bottle minimum purchase required.
</br></br>
Bottle Service is many times purchased to celebrate the great moments of life such as; Birthdays, Bachelorette/Bachelor Parties, Anniversaries, Engagements, Promotions and other special occasions. However, many people also purchase Bottle Service to simply enjoy the night out at the most popular venues with friends and colleagues. 
</br></br>
<p align="left" style="font-size:16px">FOR OUR MEMBERS:</p><br>
By allowing you the exclusive right to “Bid” on our limited number of bottle service offering, you are able to set your price for a particular venue/night combination.  In some cases, you will be bidding on bottle service for a venue in which the venue’s bottle service is “sold-out”, so we not only provide you with the opportunity to purchase bottle service at a deep discount,  but also for "sold-out" venues. 
<br>
In addition to all the fun you will have bidding with your friends and building your guest list through your social network, ALL the bottle service purchased on Socialcheers.com are all-inclusive. So, this means you will not be required to pay a single-penny once you arrive at YOUR table on the designated night.  Simply walk-in, get your table, drink, socialize and walk-out (of course any tip you give is optional and much appreciated by your hostess).
<br><br>
<p align="left" style="font-size:16px">FOR OUR VENUES/PROMOTERS:</p><br>
We provide guaranteed payment for your bottle services and we do so by giving you two choices:
</br></br>
1.A pre-negotiated rate in which we will make that payment to you in advance
</br>
2. A pre-negotiated “percentage” of the final winning bid price i.e. 50/50, 60/40. 70/30, etc.
</br></br>
We also offer you the ability to register New bottle service listings as short-notice as two days before the event (in some cases the day before). This allows you to use our services to obtain the most revenue possible.
Also, by partnering with us and offering a limited number of bottle service to be offered through our site, you are building exposure and increasing traffic to your venues which drives sales.
</br></br>
<p align="left" style="font-size:16px">FOR OUR SPONSORS:</p><br>
Because our focus- and only focus- is bottle service, we feel that we provide the best partnership for premium spirit companies and those related to the spirit industry. Whether it’s a new brand or flavor, we are the source to partner with to kick-off sample trials, advertising promotions and share information that will change how consumers chose their next drink. We can help you promote an “experience” that mimics your brand and strategy
</br></br>
<p align="left" style="font-size:16px">Got a question? Contact us!</p><br>
We work very hard to respond to all of our clients, members and general inquires as quickly and efficiently as possible. Therefore, we highly recommend that you email your questions or comments to us. info@Socialcheers.com
</br></br>
</div>
</div>
</br>