<div id="buy_now">
<div id='about_us' align="left" style="font-size:12px; color:#FFffff;">	
<p align="center" style="font-size:16px">ABOUT US:</p><br><br>
<p align="center" style="font-size:16px">THANK YOU FOR INQUIRING ABOUT SOCIALCHEERS.COM AND WELCOME TO OUR SITE!</p><br> 
SOCIALCHEERS.COM OFFERS MEMBERS THE OPPORTUNITY TO BID ON BOTTLE SERVICE AT SOME OF THE MOST POPULAR VENUES IN MAJOR CITIES. WHEN YOU PURCHASE YOUR BOTTLE SERVICE ON SOCIALCHEERS.COM, YOU HAVE THE CHOICE OF BIDDING FOR THE BEST DEAL POSSIBLE OR PURCHASING THE BOTTLE SERVICE OUTRIGHT USING THE “BUY NOW” OPTION. HOWEVER YOU CHOOSE TO PURCHASE YOUR BOTTLE SERVICE, IT WILL BE LIKE NOTHING YOU HAVE EVER EXPERIENCED BEFORE.<br><br>
<p align="center" style="font-size:16px">SERVICE LISTINGS:</p><br>
REMEMBER, WE OFFER A NUMBER OF POPULAR VENUES FOR DIFFERENT NIGHTS OF THE WEEK SO WE ARE CERTAIN THAT THERE IS A NIGHT OF THE WEEK AND VENUE COMBINATION THAT IS APPEALING TO YOU. IS YOUR CITY NOT CURRENTLY BEING REPRESENTED? DON’T WORRY; WE ARE IN THE PROCESS OF SPANNING INTO EVERY MAJOR CITY - SO IT’S JUST A MATTER OF TIME BEFORE WE GET TO YOUR HOME CITY. <br><br>
<p align="center" style="font-size:16px">GOT A QUESTION? CONTACT US!</p><br>
WE WORK VERY HARD TO RESPOND TO ALL OF OUR CLIENTS, MEMBERS AND GENERAL INQUIRES AS QUICKLY AND EFFICIENTLY AS POSSIBLE. THEREFORE, WE HIGHLY RECOMMEND THAT YOU EMAIL YOUR QUESTIONS OR COMMENTS TO US. INFO@SOCIALCHEERS.COM</br></b>
</div>
</div>