
<div id='authorization_hold' align="left" style="font-size:16px">
	<p align="center" style="font-size:20px">Authorization hold:</p>
For the security of our Members, Socialcheers requires all Members bidding on our site to accept an “Authorization hold” on their credit card for a given amount to verify the availability of funds on the credit card and as a security measure. An “Authorization hold” is a temporary hold placed on the card while the amount and security are being verified. The “Authorization hold” is NOT a charge and you are not responsible for paying for it.  The duration of the “Authorization hold” depends on the credit card issuing bank. The bottom line is that this is a FREE SERVICE to our members and you are not charged for bidding on our servicelistings
</div>
