<div id="signup">
<div id='signup' align="left" style="font-size: 1.2em; color:#FFffff; padding: 10px;">	
<p align="center" style="font-size:16px">HOW IT WORKS:</p><br><br>
<p align="center" style="font-size:16px">BECOME A SOCIALCHEERS MEMBER: </p><br> 
Sign-up for a free membership by signing-in with your social network accounts or creating a new account. It’s free, easy and convenient.<br><br>
<p align="left" style="font-size:16px">BID ON BOTTLE:</p><br>
Review the bottle servicelistings and securely place your bid for the venue and night of your choosing.
</br></br>
Don’t want to wait for the auction period to end, choose the “Buy” option and that bottle service is yours!
</br></br>
<p align="left" style="font-size:16px">RECEIVE YOUR CONFIRMATION:</p><br>
Upon winning the bottle servicelisting, you will be sent an email confirming your winning details. 
<br><br>
<p align="left" style="font-size:16px">MAKE YOUR GUEST LIST:</p><br>
The fun part! Post and send invites to your friends through your social network account such as Facebook & Gmail and then email Socialcheers with your completed guest list.
</br></br>
<p align="left" style="font-size:16px">START SOCIALCHEERING:</p><br>
The best part! Arrive at the venue for that particular night and walk into your table where your bottle service awaits you. Then drink, socialize and walkout at the end of the night.
</br></br>
</div>
</div>
</br>