<div id="signup">
<div id='signup' align="left" style="font-size: 1.2em; color:#FFffff; padding: 50px;">	
<p align="center" style="font-size: 1.4m">How Socialcheers works</p><br><br>
<u><strong>HOW IT WORKS (USERS)</strong></u><br />
<br />
<p style="padding 10px">
1.&nbsp;&nbsp;&nbsp; BECOME A SOCIALCHEERS MEMBER<br />
<i>Sign-up for a free membership by signing-in with your social network accounts or creating a new account. It&rsquo;s free, easy and convenient</i><br />
<br />
2.&nbsp;&nbsp;&nbsp; BID ON BOTTLE PACKAGE<br />
<i>Review the bottle servicelistings&nbsp; &amp; securely place your bid for the venue and night of your choosing. Use the &ldquo;Buy&rdquo; button to bypass the auction and instantly purchase the bottle package.</i> <br />
<br />
3.&nbsp;&nbsp;&nbsp; RECEIVE YOUR CONFIRMATION<br />
<i>Upon winning the bottle servicelisting, you will be sent an email confirming your winning details.</i><br />
<br />
4.&nbsp;&nbsp;&nbsp; MAKE YOUR GUEST LIST<br />
<i>The fun part! Post and send invites to your friends through Facebook &amp; Gmail and then email Socialcheers your completed guest list.</i><br />
<br />
5.&nbsp;&nbsp;&nbsp; START SOCIALCHEERING<br />
<i>The best part! Arrive at event on the day you purchased the bottle service and be seated at your table where your bottle service awaits you.</i><br />
</p>
<br />
<br />
<u><strong>HOW IT WORKS (VENUES)</strong></u><br />
<br />
<p style="padding 10px">
1.&nbsp;&nbsp;&nbsp; REGISTER<br />
<i>Securely register your bottle service on socialcheers.com</i><br />
<br />
2.&nbsp;&nbsp;&nbsp; SERVICELISTING IS REVIEWED <br />
<i>Socialcheers will review your listing and contact you within 24hrs</i><br />
<br />
3.&nbsp;&nbsp;&nbsp; CHOOSE SERVICELISTINGS FEE <br />
<i>Socialcheers will collaborate with you on your servicelistings fee options (1) &ldquo;fixed&rdquo; amount or (2) &ldquo;percentage&rdquo; of final winning bid price</i><br />
<br />
4.&nbsp;&nbsp;&nbsp; BOTTLE SERVICELISTING IS ACTIVATED<br />
<i>The bottle servicelisting is activated for patrons/members to bid on</i><br />
<br />
5.&nbsp;&nbsp;&nbsp; SERVICE RENDERED &amp; PAYMENT MADE <br />
<i>The guests are treated to the bottle service on the day they purchased the event and payment is made the next day</i>
</p>
</br></br>
</div>
</div>
</br>