<div id=action>
<% title 'Resend Activation'%>

<p align=center><font size="+1" color="#ffffff">Enter your email address to get activation mail.</font></p>
<%= form_tag resent_activation_users_path, :method => :post do%>
	<p >
		<font size="+1" color="#ffffff"><%= label_tag :email%></font>
		<%= text_field_tag :email%>
		<%= submit_tag "Send Activation" %>
	</p>
<% end%>
</div>
