<% stylesheet('colorbox')%>
<% javascript('jquery.colorbox-min')%>

<% servicelisting = @order.servicelisting %>

<div class="order_success_message">
  Congratulations! Please check your email for your purchase details.
</div>
<div class="invites">
    <%= link_to "Invite Friends by Email", "#", :class=>"invite_by_email" %>&nbsp;|&nbsp;
    <%= link_to "Invite Gmail Contacts", contacts_path(:order_id => @order.id), :class => "invite_gmail_contacts"%>
</div>

<% @order = Order.first%>
<% servicelisting = @order.servicelisting%>

<!-- invite_by_email -->
<div class="hidden">
    <%= render :partial => 'contacts/party_invite_by_email', :locals => {:order => @order, :servicelisting => servicelisting} %>
</div>

<script type="text/javascript">
  $('.invite_by_email').click(function(e){
      $.colorbox({href:'.invite_by_email_div', inline:true});
      return false;
  });
</script>