<div id="success">
	
<table width="100%" border="0">
  <tr>
   	<td height="99" colspan="3" align="center"><h3 align="center" style="color:#48B9E9"> Your transaction is completed successfully.</h3></td>
  </tr>
  <tr>
  	<td height="64" colspan="3"><h3 align="center" style="color:#48B9E9"> Invite your friends to the party</h3></td>
  </tr>
  <tr>
    <td height="129" colspan="3" align="center">
    	<% ["facebook"].each do |provider| %>
  			<%= link_to image_tag("auth/#{provider}_64.png"), "/auth/#{provider}" %>
		<% end %>
		<%= link_to image_tag("auth/google_64.png"),  new_contact_path %>    </td>
  </tr>
</table>	
	
	
<!--	
<font color="#009900">Your Order is Complited. "Get ready to party" </font></br>
Send invitation to your friend's
<% ["facebook"].each do |provider| %>
  <%= link_to image_tag("auth/#{provider}_64.png"), "/auth/#{provider}" %>
<% end %>
<%= link_to image_tag("auth/google_64.png"), :controller =>'contacts', :action => 'new' %>
-->
</div>
