<div id="signup">

<table width="100%" border="0">
  <tr>
    <td height="100" colspan="3"></td>
  </tr>
  <tr>
    <td height="109" colspan="3" align="center"><h3 align="center" style="color:#48B9E9"> Sorry - We can't send mail.You have not selected any Email Id.</h3></td>
  </tr>
  <tr>
    <td height="30" colspan="3" align="center"><%= link_to_function "Go back", "history.back()" , :class => "links" %></td>
  </tr>
</table>

</div>

