

<div id="success">
	
<table width="100%" border="0">
  <tr>
    <td colspan="3" align="center"></td>
  </tr>
  <tr>
  	<td height="145" colspan="3"><h3 align="center" style="color:#48B9E9"> Mail has delivered successful</h3></td>
  </tr>
  <tr>
    <td height="151" colspan="3" align="center">
    	<font style="font-size:18px;"><%= link_to "Invite more friends", :class => "links", :controller => 'orders', :action => 'success' %></font>    </td>
  </tr>
  
</table>

</div>
